.login {
    background-color: #ffa500;
    border-radius: 10px;
    color: #ffffff !important;
}
/*Margin*/
.top10{margin-top: 10px;} .top20{margin-top: 20px;} .top30{margin-top: 30px;} .top40{margin-top: 40px;} .top50{margin-top: 50px;}
.top60{margin-top: 60px;} .top70{margin-top: 70px;} .top80{margin-top: 80px;} .top90{margin-top: 90px;} .top100{margin-top: 100px;}

.marginBottom0{margin-bottom: 0px !important;} .marginBottom20{margin-bottom: 20px !important;}

/*Padding*/
.bottom10{padding-bottom: 10px !important;} .bottom20{padding-bottom: 20px !important;} .bottom30{padding-bottom: 30px;} .bottom40{padding-bottom: 40px;} .bottom50{margin-bottom: 50px !important ;}
.padding10{padding: 10px;}
                                                                                                                                    .
/*Float*/
.floatLeft{float: left !important;}

/*Cursor*/
.cursorPointer{cursor:pointer;}

/*Form text*/
.bold{font-weight: bold;}


/*Begin Auth*/
.form-signin
{
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin .checkbox
{
    margin-bottom: 10px;
}
.form-signin .checkbox
{
    font-weight: normal;
}
.form-signin .form-control
{
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus
{
    z-index: 2;
}
.form-signin input[type="text"]
{
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signin input[type="password"]
{
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.account-wall
{
    margin-top: 20px;
    padding: 40px 0px 20px 0px;
    background-color: #f7f7f7;
    -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.login-title
{
    color: #555;
    font-size: 18px;
    font-weight: 400;
    display: block;
}
.profile-img
{
    width: 96px;
    height: 96px;
    margin: 0 auto 10px;
    display: block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.need-help
{
    margin-top: 10px;
}
.new-account
{
    display: block;
    margin-top: 10px;
}
/*End Auth*/

.about{
    text-align: justify !important;
    text_indent:4em !important;
}

.imgPartners{

}

.imgPartners img{
    height: 180px;
    width: 180px;
    box-shadow: 3px 2px 5px;
    margin: 5px;
    border-radius: 7px;
    transition: box-shadow 1s;
    -webkit-transition: box-shadow 1s; /* Safari */
}

.imgPartners img:hover{
box-shadow:5px 2px 5px #ffa500;

}

.decorationNone{text-decoration: none !important;}

.site-heading-corretion{ padding: 200px 0 10px !important; }

.fontRegister{
    font-weight: bolder !important;
    font-size: 20px !important;
}

